body {
  background-color: #fff; /* Change background color to white */
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

form {
  margin-top: 20px;
  text-align: center; 
}

/* label {
  display: none; 
} */

input {
  width: 60%; /* Adjust the width of the input field */
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 4px; /* Add border-radius for rounded corners */
}

/* Style specific to city-input */
input#city-input {
  width: 40%; /* Adjust the width of the city-input field */
}

button {
  background-color: #4285f4; /* Use Google's search button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Add border-radius for rounded corners */
}

figure {
  display: none; /* Hide figure element */
}